body{
    font-family: 'Orbitron', sans-serif;
    max-height: 1200px;
}

.box{
    border: 2px solid #ffffff;
    background-color: #0071e3;
    height:700px;
    cursor: pointer;
}


h1{
    text-align: center;
    margin-top: 5%;
}


#name{
    background-image: url("./images/backgroundName.gif");
    text-align: center;
    color: #ffffff;
}


#developerName{
    font-size: 45px;
}

#profile{
    width: 150px;
    border-radius: 100%;
}

.list-group-item{
    border-top-style: solid;
    border-top-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    text-align: center;
    padding: 20px;
    background-color: black;
    color:#0071e3;
    cursor: pointer;
    transition: 1.5s;
    
}

.list-group-item:hover{
    background-color: #0071e3;
    color: black;
}

nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 30px;
    cursor: pointer;
}

#paragraph{
    font-size: 35px;
}

a.webLinks{
    color: #ffffff;
    font-size: 40px;
}

a.resumeLink{
    color: #ffffff;
    font-size: 40px;
}


.webScreenshot{
    width: 350px;
    height: 150px;
}

#crystalCollector,
#nbaTrivia,
#nickelodeonWordGuess{
    padding: 20px;
    display: flex;
    justify-content: center;
}


#resumeBox{
    display: flex;
    border: 2px solid #ffffff;
    justify-content: center;
    margin: 0 auto;
}
.form-control{
    width: 70%;
}

form{
    margin-left: 30%;
}




